<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.28" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.1.28" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric" version="5.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.6.210" targetFramework="net452" />
</packages>